Home automation notifies owner via email. 
When RFID tag is detected going in range and out of range system notifies via email
Email addresses are configurable by a person's rfid tag
Emails must have essential parts like to, subject, and body


WhoIsHome is the main module
There's a sensor that detects wether an RFID is identified coming in range
There's a database of sorts that maps users to emails and RFIDs
Owner receives emails

Test cases:
x Nothing has changed, no notifications
RFID tag detected by sensor, notify owner
RFID tag detected going out of range, notify owner

